html{
	font-size: 125%;
}
body{
	max-width: 750px;
	margin: 0 auto;
}
input::-webkit-input-placeholder {
	font-size: 18px;
	color: #D6D0CA !important; /* WebKit browsers */
}
input:-moz-placeholder {
	font-size: 18px;
	color: #D6D0CA !important; /* Mozilla Firefox 4 to 18 */
}
input::-moz-placeholder {
	font-size: 18px;
	color: #D6D0CA !important; /* Mozilla Firefox 19+ */
}
input:-ms-input-placeholder {
	font-size: 18px;
	color: #D6D0CA !important; /*Internet Explorer 10+ */
}
header{
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */

	max-width: 100%;
	height: 100px;
	margin-top: 10px;
	padding: 10px 20px 0px;	
}
#head_center{
	text-align: center;
	flex-grow: 1;
	flex-flow: 1;
}
#head_center img{
	width: 12.65rem;
	height: 3.55rem;
}
#head_left{
	width: 50px;
	height: 50px;
}
#head_left img{
	width: 2.35rem;
	height: 2.35rem;
}
#head_right{
	width: 50px;	
	height: 50px;
}
#head_right img{
	width: 2.35rem;
	height: 2.35rem;
}
#french{
	height: 280px;
	max-width: 750px;
}
#french img{
	width: 37.5rem;
	height: 14rem;
}
#tel{
	margin: 0 auto;
	margin-top: 60px;
	height: 80px;
	max-width: 515px;
	border-radius: 25px;
	background: #e6565d;
	font-size: 20px;
}
#tel div{
	max-width: 410px;
	height: 80px;
	line-height: 80px;
	margin: 0 auto;
	text-align: center;
}
#tel span{
	color: #fff;
}
#about_us{
	height: 320px;
	margin: 75px 8% 30px;	
}
#about_us img{
	width: 6rem;
	height: 6rem;
}
#about_us_top{
	margin-bottom: 35px;
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */	
}
#about_us_bottom{
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */	
}
#about_us_bottom .about_us{
	flex-grow: 1;
	flex-grow: 1;
	text-align: center;	
}
#about_us_top .about_us{
	flex-grow: 1;
	flex-grow: 1;
	text-align: center;		
}
.about_us div{
	width: 80%;
	height: 80%;
	border-radius: 50%;	
	margin: 0 auto;
}
.about_us p{
	font-size: 18px;
}
.the_learning_environment{
	width: 100%;
	height: 600px;
	text-align: center;
}
.the_learning_environment h1{
	margin-bottom: 15px;
	font-size: 2.5rem;
}
.the_learning_environment p{
	margin-bottom: 60px;
	font-size: 1.5rem;
	color: #5b5b5b;
}
.the_learning_environment div{
	width: 100%;
	margin: 0 auto;
}
#img1{
	width: 19.8rem;
	height: 21.2rem;
}
#img2{
	width: 19.8rem;
	height: 21.3rem;
}
#img3{
	width: 23rem;
	height: 19.75rem;
}
#img4{
	width: 20.1rem;
	height: 19.8rem;
}
#img5{
	width: 20.1rem;
	height: 19.8rem;
}
#img6{
	width: 25.4rem;
	height: 19.55rem;
}
#img7{
	width: 23.55rem;
	height: 20rem;
}

#make_an_appointment_to_audition{
	height: 522px;
	width: 100%;
	padding: 0 60px;
	text-align: center;
}
#make_an_appointment_to_audition h1{
	font-size: 2.5rem;
	margin-bottom: 40px;
	color: #d33d48;
}
#make_an_appointment_to_audition input{
	width: 100%;
	height: 55px;
	font-size: 22px;
	margin-bottom: 40px;
}
#make_an_appointment_to_audition button{
	background-color: #d33d48;
	color: #fff;
	font-size: 1.25rem;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

footer{
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* 新版本语法: Chrome 21+ */
	display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	width: 100%;
	height: 100px;
	background: #2d3e50;
}
footer div{
	flex-grow: 1;
	flex-flow: 1;
	text-align: center;
	width: 60px;
	margin-top: 12px;
}
footer p{
	color: #fff;
}
#foot_left{
	width: 2.45rem;
	height: 2.3rem;
}
#foot_center{
	width: 3.05rem;
	height: 2.4rem;
}
#foot_right{
	width: 2.4rem;
	height: 2.4rem;
}
@media screen and (max-width: 500px) {
	header{
		height: 73px;
	}
	.the_learning_environment{
		height: 450px;
	}
	#make_an_appointment_to_audition{
		height: 410px;
	}
}