/*初始化*/
html,body,div,span,a,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body,html{width:100%;height:100%}body{-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:none;margin:0;padding:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}ol,ul{list-style:none}hr{border:0;height:1px;background:#ccc}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{margin:0;padding:0;list-style:none;box-sizing:border-box}html,input,select,textarea,button,a{-webkit-tap-highlight-color:rgba(0,0,0,0)}html,body,div,span,a,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body,html{width:100%;height:100%}body{-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:none;margin:0;padding:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}ol,ul{list-style:none}hr{border:0;height:1px;background:#ccc}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{margin:0;padding:0;list-style:none;box-sizing:border-box}html,input,select,textarea,button,a{-webkit-tap-highlight-color:rgba(0,0,0,0)}
/*canvas*/
#box{
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	perspective: 1000px;
}
#canvas{
	overflow: hidden;
	position: absolute;
	z-index: 5;
}
#mengban{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	z-index: 10;
	top: 0;
	left: 0;
	font-size: 100px;
	line-height: 130px;
	font-weight: bold;
	text-shadow: 0 0 10px #FFF;
	text-align: center;
	animation: 11s show;
	opacity: 0;
	padding-top: 200px;
}
@-webkit-keyframes show{
	0%{opacity: 0}
	60%{opacity: 0.8}
	100%{opacity: 0}
}
/*主体*/
#hide{
	opacity: 0;
	animation: 2s sh;
	animation-delay: 8s;
  	display: flex;
  	height: 100%;
}
@-webkit-keyframes sh{
	0%{opacity: 0}
	100%{opacity: 1}
}
a{
	text-decoration: none;
	color: #FFF;
}
@font-face {
	font-family: my;
	src:url('./STXINGKA.ttf');
}
#logo,#content  p{
	font-family: my;
}
#content{
	background: url('./../img/anger.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #171314;
}
/*导航*/
nav ul a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	letter-spacing: 5px;
	text-shadow: 0 0 10px #FFF;
	font-size:25px;
}
nav{
	width: 100%;
	line-height: 50px;
	font-family: my;	
}
nav ul{
	text-align: right;
	margin-right: 50px;
}
nav ul li{
	display: inline;
	margin-right: 40px;
}
nav ul li:hover a{
	text-shadow: 0 0 3px #FFF;
	color: #000;
}
#logo{
	padding: 10px;
	color: #000;
	font-family: my;
}
#logo img{
	position: absolute;
	top: 13px;
	left: 13px;
	height: 60px;
}
#logo p{
	margin-left: 58px;
}
#logo #p1{
	font-size: 40px;
	line-height: 40px;
	text-shadow: 0 0 10px #FFF;
}
#logo #p2{
	font-size: 25px;
	line-height: 30px;
	text-shadow: 0 0 10px #FFF;
}
/*侧边栏*/
#sidebar{
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;
	width: 0px;
	background: #171314;
	opacity: 0.9;
	font-size: 20px;
	text-shadow: 0 0 10px #FFF;
	line-height: 35px;
	font-family: my;
	text-align: center;
	box-shadow: 0 0 5px 5px #dee8e7;
	overflow: hidden;
}
#sidebar p{
	margin-bottom: 10px;
	color: #000;
	font-size: 25px;
	word-break:keep-all;
	white-space:nowrap;     
}
#sidebar div#cir{
	margin-top: 50px;
	margin-bottom: 50px;
}
#cir{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color:#dee8e7;
	margin: 0 auto;
	box-shadow: 0 0 10px 10px #dee8e7;
	margin-bottom: 20px;
}
#cir img{
	width: 80%;
	height: 80%;
	margin-top: 10px;
}
#content{
	flex-grow: 1;
	width: 1px;
}
#link{
	height: 50px;
	width: 90%;
	display: flex;
	margin: 0 auto 50px;
}
#link div{
	flex-grow: 1;
	width: 1px;
}
#link img{
	width: 80%;
	height: auto;
}
#contact{
	margin-top: 80px;
}
#contact p{
	font-family: normal;
	font-size: 20px;
}
/*底部按钮*/
#btn{
	position: fixed;
	bottom: 30px;
	right: 40px;
	width: 30px;
	height: 27px;
	background: #171314;
	box-shadow: 0 0 2px 2px #dee8e7;
	text-align: center;
	overflow: hidden;
	opacity: 0;
}
#btn span{
	transform-origin: 50%;
	position: absolute;
	display: block;
	height: 2px;
	width: 70%;
	left: 4.5px;
	background-color: #FFF;
}
#btn_top{
	top: 13px;
}
#btn_center{
	top: 13px;
	opacity: 0;
}
#btn_bottom{
	top: 13px;
}
#resume{
	color: white;
	width: 80%;
	margin: 0 auto;
	padding-top: 60px;
	margin-bottom: 50px;
	display: none;
}
#resume p{
	font-family: my;
	font-size: 28px;
	margin-bottom: 5px;
	margin-top: 10px;
}
#resume li{
	font-size: 18px;
	line-height: 25px;
	margin-top: 5px;
}
#resume ul{
	margin-top: 10px;
	margin-left: 20px;
}
#person{
	margin-top: 5px;
	display: flex;
	width: 100%;
	height: 100%;
}
#resume_right{
	flex-grow: 1;
	width: 1px;
	margin-top: 10px;
	margin-right: 5px;
	background: transparent;
	text-align: center;
}
#resume_right li{
	font-family: Times New Roman,my;
	font-size: 28px;
	margin: 15px 0;
	line-height: 33px;
}
#resume_left{
	width: 200px;
	flex-grow: 0;
	flex-shrink: 0;
	background: transparent;
}
#resume_left li{
	font-family: my;
	font-size: 28px;
	margin: 15px 0;
	cursor: pointer;
}
#resume_left li:hover{
	color: #000;
	text-shadow: 0 0 10px #FFF;
}
.active{
	color: #000;
	text-shadow: 0 0 10px #FFF;
}
.animated{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.zoomIn{
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
/*say*/
#said{
	color: white;
	width: 60%;
	/*height: 50%;*/
	margin-left: 10%;
	padding-top: 60px;
	margin-bottom: 50px;
	font-size: 28px;
}
#said h1{
	font-family: my;
	font-size: 33px;
	line-height: 40px;
	margin-bottom: 30px;
}
#shouting{
	text-indent: 56px;
	line-height: 35px;
	margin-left: 50px;
}
#excerpts{
	text-align: right;
	line-height: 40px;
}
/*leaveMessage*/
#leaveMessage{
	width: 60%;	
	height: 600px;
	margin-left: 10%;
	margin-top: 60px;
	display: none;
}
#leaveMessage fieldset{
	border: 1px solid #FFF;
	border-radius: 5px;
	color: #FFF;
	height: 100%;
	width: 100%;
	font-size: 35px;
	font-family: Arial;
	padding: 10px 20px 5px;
	overflow: hidden;
}
#leaveMessage textarea{
	width: 100%;
	height: 413px;
	overflow: auto;
	border: none;
	box-shadow: 0 0 2px 2px #FFF;
	background-color: transparent;
	font-size: 20px;
	color: #FFF;
	font-family: Arial my;
	text-indent: 20px;
}
#message{
	display: flex;
	width: 100%;
	height: 500px;
	font-size: 23px;
}
#en{
	width: 1px;
	flex-grow: 2;
	padding: 0 5px 0;
}
#en p{
	margin: 0 0 10px;
}
#en input{
	border: none;
	background-color: transparent;
	box-shadow: 0 0 1px 1px #FFF;
	width: 100%;
	height: 30px;
	color: #FFF;
	text-indent: 20px;
}
#inform{
	width: 150px;
	flex-grow: 0;
	line-height: 30px;
	text-align: right;
}
#inform p{
	height: 40px;
}
#advice{
	flex-grow: 2;
	width: 2px;
	padding: 10px 0px 10px 20px; 
	overflow: auto;
}
#advice p{
	font-family: Times New Roman,my;
	margin-bottom: 10px;
}
#mitP{
	padding: 5px 0;
	text-align: center;
}
#mit{
	border: none;
	box-shadow: 0 0 2px 2px #FFF;
	background: transparent;
	color: #FFF;
	font-family: my;
	font-size: 25px;
	padding: 5px 40px;
}