
#shuffl{
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
#roll{
	position: absolute;
	left: 0;
	width: 32000px;
	
}
.animal{
	-webkit-transition:left 1s;
	-o-transition:left 1s;
	-moz-transition:left 1s;
	-ms-transition:left 1s;
	transition:left 1s;
}
#roll img{
	height: 500px;
	width: 100%;
	float: left;
}
#btnA{
	padding: 15px 20px;
	position: absolute;
	top: 178px;
	left: 10%;
	z-index: 1;
	display: none;
	opacity: 0.7;
}
#btnB{
	padding: 15px 20px;
	position: absolute;
	top: 178px;
	right: 10%;
	z-index: 1;
	display: none;
	opacity: 0.7;
}
.btn{
	border-radius: 50%;
	padding: 10px; 
	margin: 0 20px;		
}
.btn1{
	display: none;
}
#btnsA{
	position: absolute;
	top: 363px;
	z-index: 1; 
	text-align: center;
	width: 80%;
	margin-left: 10%;
	opacity: 0.7;
}
#active{background: #333;}